

:root {
    --background: #f8f9fa;
    --secondaryBackground: #ffffff;
    --text: #333;
    --teal: #26a69a;
    --borderColor: #e0e0e0;

}

body {
    background:url('https://img.freepik.com/free-photo/desk-with-objects_23-2147982337.jpg?ga=GA1.1.1414198285.1727840973&semt=ais_hybrid') ;
    background-size: cover;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.container2 {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgb(26, 255, 0);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    background-color: var(--secondaryBackground);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.details {
    width: 100%;
}

#progress {
    width: 0%;
    height: 8px;
    background-color: var(--teal);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#progressBar {
    width: 100%;
    height: 8px;
    background-color: var(--borderColor);
    border-radius: 4px;
    margin-top: 15px;
}

#num {
    width: 80px;
    height: 80px;
    background: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
}

form {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}
.filterContainer{
    margin-top: 50px;
    margin-left: 370px;
    background: var(--secondaryBackground);
    border: 1px solid rgb(26, 255, 0);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
}
select{
    width: 100%;
    border: 2px solid rgb(45, 170, 4);
    border-radius: 6px;
    padding: 5px;
    font-weight: 700;
}
.form-container {
    width: 100%;
    display: flex;
}

input {
    flex: 1;
    padding: 14px;
    background: var(--secondaryBackground);
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    outline: none;
    color: var(--text);
    max-width: 550px;
    width: 100%;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,rgb(241, 248, 241),rgb(106, 244, 64));
    color: var(--text);
    font-size: 24px;
    font-weight: bold;
    outline: none;
}
button:hover{
    background: linear-gradient(90deg,rgb(106, 244, 64),rgb(241, 248, 241));
}

#task_List {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    max-width: 95%;
}

.taskItem {
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 9px;
    width: 100%;
    width: 620px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--borderColor);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input {
    width: 20px;
    height: 20px;
}

.completed p {
    text-decoration: line-through;
    color: var(--teal);
}

.taskItem img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}
li h1{
    color: darkgreen;
    font-weight: 700;
    background-color: rgb(99, 250, 167);
    border-radius: 8px;
    border:2px solid green;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 470px) {
    body {
        background: url('https://img.freepik.com/premium-photo/different-office-supplies-colored-stickers-notebooks-pens-pencils-rullers-marckers-different-school-items-important-information-accessories-lying-desk_424947-13317.jpg?ga=GA1.1.1414198285.1727840973&semt=ais_hybrid');
        background-size: cover;
        margin-top: 90%;
    }

    .container2 {
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        width: 80%; 
    }

    #num {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }

    form {
        flex-direction: row;
        gap: 10px;
        margin-top: 40px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(26, 255, 0);
        box-shadow: 0 2px 10px rgba(174, 161, 161, 0.1);
        max-width: 320px;
    }

    button {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .taskItem {
        flex-direction: row;
        align-items: flex-start;
        width: 100%; /* Full width */
        margin-right: 0;
        border: 1px solid rgb(26, 255, 0);
        padding: 8px;
        max-width: 400px;
    }

    .task {
        width: 100%;
        max-width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icons {
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    body {
        background: url('https://img.freepik.com/premium-photo/different-office-supplies-colored-stickers-notebooks-pens-pencils-rullers-marckers-different-school-items-important-information-accessories-lying-desk_424947-13317.jpg?ga=GA1.1.1414198285.1727840973&semt=ais_hybrid');
        background-size: cover;
        margin-top: 50%;
    }

    .container2 {
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        width: 400px;
    }
    .filterContainer{
        margin-top: 50px;
        margin-left: 17px;
        background: var(--secondaryBackground);
        border: 1px solid rgb(26, 255, 0);
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        max-width: 400px;
    }

    #num {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }

    form {
        flex-direction: row;
        gap: 10px;
        margin-top: 40px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(26, 255, 0);
        box-shadow: 0 2px 10px rgba(174, 161, 161, 0.1);
        max-width: 380px;
    }

    button {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .taskItem {
        flex-direction: row;
        align-items: flex-start;
        width: 500px;
        margin-right: 60px;
        border: 1px solid rgb(26, 255, 0);
        padding: 8px;
        max-width: 430px;
    }

    .task {
        width: 100%;
        max-width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icons {
        margin-top: 10px;
    }
}
@media (min-width: 1024px) {
    body {
        background: url('https://img.freepik.com/free-photo/desk-with-objects_23-2147982337.jpg?ga=GA1.1.1414198285.1727840973&semt=ais_hybrid');
        background-size: cover;
        margin-top: 10%;
    }

    .container2 {
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        width: 600px;
    }
    .filterContainer{
        margin-top: 50px;
        margin-left: 365px;
        background: var(--secondaryBackground);
        border: 1px solid rgb(26, 255, 0);
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        max-width: 800px;
    }

    #num {
        width: 70px;
        height: 70px;
        font-size: 25px;
    }

    form {
        flex-direction: row;
        gap: 10px;
        margin-top: 40px;
    }

    input {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(26, 255, 0);
        box-shadow: 0 2px 10px rgba(174, 161, 161, 0.1);
        max-width: 600px;
    }

    button {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    .taskItem {
        flex-direction: row;
        align-items: flex-start;
        width: 700px;
        border: 1px solid rgb(26, 255, 0);
        padding: 10px;
        max-width: 700px;
    }

    .task {
        width: 100%;
        max-width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icons {
        margin-top: 15px;
    }
}

@media (min-width: 1440px) {
    body {
        background: url('https://img.freepik.com/free-photo/desk-with-objects_23-2147982337.jpg?ga=GA1.1.1414198285.1727840973&semt=ais_hybrid');
        background-size: cover;
        margin-top: 5%;
    }

    .container2 {
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        width: 800px;
    }
    .filterContainer{
        margin-top: 50px;
        background: var(--secondaryBackground);
        border: 1px solid rgb(26, 255, 0);
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        max-width: 800px;
    }

    #num {
        width: 80px;
        height: 80px;
        font-size: 30px;
    }

    form {
        flex-direction: row;
        gap: 10px;
        margin-top: 40px;
    }

    input {
        width: 100%;
        padding: 15px;
        border: 1px solid rgb(26, 255, 0);
        box-shadow: 0 2px 10px rgba(174, 161, 161, 0.1);
        max-width: 750px;
    }

    button {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    .taskItem {
        flex-direction: row;
        align-items: flex-start;
        width: 900px;
        border: 1px solid rgb(26, 255, 0);
        padding: 12px;
        max-width: 830px;
    }

    .task {
        width: 100%;
        max-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center.
    }

    .icons {
        margin-top: 10px;
    }
}
